@import './styles/fonts';
@import './styles/variables';

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $text-color;
}

#root {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  min-height: calc(100vh - 16px);
}

* {
  box-sizing: border-box;
}